{% extends "AppBundle::layout.html.twig" %}

{% block lesheureusesnaissancesplatform_body %}

        <div class="container">
            <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4 class="uppercase mt20">Informations complémentaires</h4>
                <input type="text" placeholder="Nom" />
                <input type="text" placeholder="Prénom" />
                <div class="input-with-label text-left">
                    <span>Date de naissance</span>
                </div>
                <input type="date"/>
                <input type="text" placeholder="Adresse" />
                <input type="text" placeholder="Ville" />
                <div class="select-option">
                    <i class="ti-angle-down"></i>
                    <select>
                        <option selected value="Default">Département</option>
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                        <option value="Larger">Large</option>
                    </select>
                </div>
                <input type="text" placeholder="Profession" />

                <hr>
                <form>
                    <h5 class="uppercase">Etes-vous enceinte ?</h5>
                    <div>
                        <div class="radio-option">
                            <div class="inner"></div>
                            <input type="radio" name="radio" value="radio1" />
                        </div>
                        <span>Oui</span>
                    </div>
                    <div>
                        <div class="radio-option checked">
                            <div class="inner"></div>
                            <input type="radio" name="radio" value="radio1" />
                        </div>
                        <span>Non</span>
                    </div>
                </form>

                <div class="input-with-label text-left">
                    <span>Date de fin de la grossesse ?</span>
                </div>
                <input type="date" placeholder="" />
                
                <input type="text" placeholder="Nombre d'enfant(s) ?" />
                <div class="input-with-label text-left">
                    <span>1er Enfant</span>
                </div>
                <input type="date" placeholder="" />
                <div class="input-with-label text-left">
                    <span>2ème enfant</span>
                </div>
                <input type="date" placeholder="" />


                <hr>

                <input type="file" placeholder="Ajouter une photo à votre profil" />
                <form>
                    <h5 class="uppercase">Vous êtes ?</h5>
                    <div>
                        <div class="radio-option checked">
                            <div class="inner"></div>
                            <input type="radio" name="radio" value="radio1" />
                        </div>
                        <span>Rêveuse</span>
                    </div>
                    <div>
                        <div class="radio-option">
                            <div class="inner"></div>
                            <input type="radio" name="radio" value="radio1" />
                        </div>
                        <span>Gourmande</span>
                    </div>
                    <div>
                        <div class="radio-option">
                            <div class="inner"></div>
                            <input type="radio" name="radio" value="radio1" />
                        </div>
                        <span>Enthousiaste</span>
                    </div>
                    <div>
                        <div class="radio-option">
                            <div class="inner"></div>
                            <input type="radio" name="radio" value="radio1" />
                        </div>
                        <span>Sportive</span>
                    </div>
                    <div>
                        <div class="radio-option">
                            <div class="inner"></div>
                            <input type="radio" name="radio" value="radio1" />
                        </div>
                        <span>Passionnée</span>
                    </div>
                    <div>
                        <div class="radio-option">
                            <div class="inner"></div>
                            <input type="radio" name="radio" value="radio1" />
                        </div>
                        <span>Curieuse</span>
                    </div>
                    <div>
                        <div class="radio-option">
                            <div class="inner"></div>
                            <input type="radio" name="radio" value="radio1" />
                        </div>
                        <span>Autre</span>
                    </div>
                </form>
                <textarea placeholder="Décrivez-vous en quelques lignes" rows="3"></textarea>
                <input type="submit" value="S'incrire" />


            </div>
            </div>
        </div>

{% endblock %}