{% extends "AppBundle::layout.html.twig" %}

{% block lesheureusesnaissancesplatform_body %}

        <div class="container">
            <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4 class="uppercase mt20">Créer un compte</h4>
                <input type="text" placeholder="Pseudo" />
                <input type="email" placeholder="Adresse mail" />
                <input type="text" placeholder="Mot de passe" />
                <input type="text" placeholder="Confirmer votre mot de passe" />
                <input type="text" placeholder="Adresse mail du parrain" />
                <input type="submit" value="S'incrire" />
            </div>
            </div>
        </div>

{% endblock %}